
.display-5 {
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.2;
}

.display-6 {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.2;
}

.display-7 {
	font-size: 1.0rem;
	font-weight: 300;
	line-height: 1.2;
}


*[id]:before {
	display: block;
	content: " ";
	margin-top: -56px;
	height: 56px;
	visibility: hidden;
}

.u_line {
	font-size: 32px;
	font-weight: normal;
	position: relative;    /* 位置調整 */
	margin-bottom: 15px;    /* 周りの余白指定 */
	border-bottom: solid 4px rgba(0, 0, 0, 0.8);        /* 線指定 */
	border-radius: 0px 0px 160px 180px/0px 0px 20px 4px;    /* 角丸指定 */
}